# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development
DISCORD_WEBHOOK_URL=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

PRIVATE_KEY=

# Contributer web server url
SERVER_URL=