@import '@repo/ui/styles/theme.css';

.animate-strokedasharray {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 15s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
